.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .logo{
    background-image: url(../assets/logo.png);
    background-position: top;
    background-size: cover;
    height: 16vh;
    width: 10%;
  }

nav{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: azure;
    background-color: rgba(0, 0, 0, 0);
}
.navbtn{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar-btn{
  position: relative;
  width: 315px;
  margin-right: 100px;
}
.profile{
  list-style: none;
    display: flex;
    gap: 20px;
}
.prof-btn{
  width: 280px;
  margin-right: 50px;
}
