.dstart{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
}
.utext{
    height: fit-content;
    margin-top: 20vh;
    margin-left: 20vh;
}
.utext h1{
    width:70vh;
    margin-bottom:10vh ;
}
.utext h6{
    width:20vh;
}
.rtext{
    margin-top: 20vh;
    margin-left: 30vh;
    height: fit-content;
}
.boxxy{
    display: flex;
    background-color: green;
    height: 20vh;
    color: white;
    justify-content: center;
    align-items: center;
}
.boxxy p{
    font-size: small;
    width:40vh;
}
.rtext h4{
    margin-bottom: 15vh;
}
